div {
     width: 200px;
    height: 200px;
background-color: rgb(127, 255, 129);
    animation-name: example;
    animation-duration: 3s;
    position: relative;

}

@keyframes example {
  
0%{background-color: aqua;left: 0px;top:0px}
25%{background-color: rgb(0, 255, 17);left: 300px;top: 0px;}
50%{background-color: rgb(0, 81, 255);left: 300px;top: 300px;}
100%{background-color: rgb(255, 153, 0);left: 0px;top:300px;}
}