body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    border: 1px solid #000;
    background: #eab488;
}

.header .logo,
.header .title {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #000;
}

.header .title {
    flex: 1;
}

.menu {
    display: flex;
    border: 1px solid #000;
    background: #f6e1cf;
}

.menu a {
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-right: 1px solid #000;
    font-size: 17px;
}

.main-container {
    display: flex;
    border: 1px solid #000;
    height: 450px;
}

.sidebar {
    width: 160px;
    padding: 20px;
    font-size: 18px;
    border-right: 1px solid black;
}

.sidebar hr {
    border: 0.5px solid gray;
}

.login-box {
    padding: 50px;
    width: 60%;
}

.login-box h3 {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 4px;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.submit,
.reset {
    padding: 10px 30px;
    font-size: 18px;
    border: 2px solid #000;
    background: white;
    cursor: pointer;
}

.submit:hover {
    background: #e0e0e0;
}

.reset:hover {
    background: #ffe0e0;
}

