body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background: #f3d4b2;
    border: 1px solid black;
}

.logo {
    width: 200px;
    padding: 20px;
    text-align: center;
    border-right: 1px solid black;
    font-size: 20px;
}

.title {
    flex: 1;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.menu {
    display: flex;
    background: #f7eddd;
    border: 1px solid black;
}

.menu a {
    flex: 1;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black;
    color: black;
    font-size: 18px;
}

.main {
    display: flex;
    border: 1px solid black;
}

.sidebar {
    width: 180px;
    padding: 20px;
    border-right: 1px solid black;
}

.sidebar hr {
    border: 0.5px solid grey;
}

.reg-box {
    padding: 40px;
    width: 100%;
}

.reg-box h2 {
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    padding: 8px;
    border: 2px solid black;
    border-radius: 4px;
}

.radio-group,
.check-group {
    margin-left: 5px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.dob-box {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.submit {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-size: 18px;
    width: 140px;
}

.submit:hover {
    background: #e8e8e8;
}
