h1 {
  font-family: 'Georgia', serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: red;
  text-align: center;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:blueviolet;
  text-indent: 50px;
  font-style: normal;
  text-decoration: red wavy underline;
  line-height: 4;
  margin: 30px;
  text-align:left;
  letter-spacing: 2.5px;
  word-spacing: 1px;
}